<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/create-book-record">Create a Book Record</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/book-list">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/delete-book-record">Remove Book Record</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/update-book-record">Update Book Record</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/chart-book-category">Book Summary</a>
        </li>
    </ul>
  </nav>
