<div class="content-disply-area">
    <h1>Update book entry</h1>
    <form class="clr-form" (ngSubmit)="submtFunc()">  
        <clr-select-container>
            <label>Select the book you would like to Update</label>
            <select #bookoptions="ngModel" (change) = "selectBook($event)" required clrSelect name="bookoptions" 
            [(ngModel)]="bookToUpdate.recordId">
                <option></option>
                <option *ngFor="let book of books" value={{book.recordId}}>Title: {{book.title}} Id: {{book.recordId}}</option>
            </select>
            <clr-control-error>You need to select the book you would like to delete</clr-control-error>
        </clr-select-container>
        <div *ngIf="bookToUpdate.categoryId && bookToUpdate.category.category1">
          <p>The current category is: {{bookToUpdate.categoryId}} {{bookToUpdate.category.category1}}. You can change to a different category.</p>
        </div>
        <clr-input-container>
            <label>Category</label>
            <input #catId="ngModel" clrInput type="number" name="catId" [(ngModel)]="bookToUpdate.categoryId" required />
        <clr-control-error>categoryId can not left blank</clr-control-error>
          </clr-input-container>

        <clr-select-container>
            <label>Select new category</label>
            <select #categoryoptions="ngModel" (change) = "selectCategory($event)" required clrSelect name="categoryoptions" [(ngModel)]="bookToUpdate.categoryId">
                <option></option>
                <option *ngFor="let cat of Bookcategories" value={{cat.categoryId}}>Category: {{cat.category1}} Id: {{cat.categoryId}}</option>
            </select>
            <clr-control-error>You need to the new category</clr-control-error>
        </clr-select-container>
      
        <clr-input-container>
          <label>Title</label>
          <input #title="ngModel" clrInput type="text" name="title" required [(ngModel)]="bookToUpdate.title" />
          <clr-control-error>You need to enter a book title</clr-control-error>
        </clr-input-container>
  
        <clr-input-container>
            <label>Book author</label>
            <input #bookauth="ngModel" clrInput type="text" name="bookauth" [(ngModel)]="bookToUpdate.author" required/>
            <clr-control-error>You need to enter the author of the book</clr-control-error>
        </clr-input-container>
  
        <clr-textarea-container>
            <label>Description</label>
            <textarea #decript="ngModel" placeholder="Write a description of a book" clrTextarea name="decript" [(ngModel)]="bookToUpdate.description" required></textarea>
            <clr-control-error>You need to enter a description of the book</clr-control-error>
        </clr-textarea-container>
  
        <button type="reset" (click)="restObj()" class="btn btn-outline">Reset</button>
        <button type="submit" class="btn btn-outline">Submit</button>
    </form>
  </div>
  